<div class="container">
    <div class="form-sections">
        <h1 class="Title">
            Login
        </h1>

        <form [formGroup]="loginForm" class="form">
            <mat-form-field appearance="outline">
                <mat-label >Email</mat-label>
                <input matInput placeholder="Email" formControlName="email" />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput id="email1" placeholder="Password" type="password" formControlName="password" />
            </mat-form-field>

            <div id="dap" class="alert alert-danger" [hidden]="!error">{{error}}</div>
        </form>
        
        <button mat-raised-button (click)="login()">
            Login
        </button>
    </div>

    <div class="message-section" (click)="moveToSignIn()">
        <p id="msg">
            Don't have an account ?
        </p>
        <p id="log">
            Sign In
        </p>
    </div>
</div>